/*
    You can add your own custom styles here.
*/

.article-content p {
    line-height: 1.6;
    margin-top: 1em;
    margin-bottom: 1em;
}

.site-description {
    white-space: pre-wrap;
    line-height: 1.6;
}
